.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.packages
build/
coverage/
*.iml
*.lock
!pubspec.lock
.DS_Store
android/.gradle/
android/local.properties
android/app/src/main/jniLibs/
android/.android-signing/
windows/flutter/ephemeral/
third_party/
release/
*.jks
*.keystore
*.pfx
.env
key.properties
